mat-icon
  margin-right: 5px

.example-card
  max-width: 400px

.example-header-image
  background-image: url('https://img.crocdn.co.uk/images/products2/pl/20/00/03/44/pl2000034445_card3_lg.jpg')
  background-size: cover
